$position-top: 40%;

body {

  .content {
    position: fixed;
    top: $position-top;
    left: 50%;
    transform: translate(-$position-top, -50%);
    padding: 30px;
    border-radius: 20px;
    background-color: antiquewhite;

    .col-submit-btn {
      margin-top: 1.2em;
    }
  }

}

